<IfModule mod_rewrite.c>
    RewriteEngine on

    # Check if the request is for an existing file or directory.
    RewriteCond %{REQUEST_FILENAME} -s [OR]
    RewriteCond %{REQUEST_FILENAME} -l [OR]
    RewriteCond %{REQUEST_FILENAME} -d

    # If it's an existing file or directory, do nothing.
    RewriteRule ^ - [NC,L]

    # Rewrite all other requests to index.php in the public directory.
    RewriteRule ^(.*) public/index.php [NC,L]
</IfModule>