{# templates/contact.html.twig #}

<div class="w-100 d-flex justify-content-center {% if darkbg %} bg-dark rounded-5 border border-light {% endif %}">
	<a class="col-auto py-2" href="#{{ textRef }}">
		<h3 class="text-center text-capitalize mb-4 white-text ">{{ headText }}</h3>
	</a>
</div>
