{% extends 'base.html.twig' %}

{% block title %}index
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/audioPlayer.js') }}"></script>
{% endblock %}

{% block body %}

	{% include 'AboutMe.twig' %}
	{% include 'ProjectsHighlights.twig' with {'textRef': 'GamesHighlights', 'headText': 'Games Highlights', 'darkbg': true} %}
	{% include 'ProjectsHighlights.twig' with {'textRef': 'GameJamsHighlights', 'headText': 'Game Jams Highlights', 'darkbg': true} %}
	{% include 'timeline.twig' %}
	{% include 'contact.twig' %}

	<!-- Footer -->
	<footer class="bg-dark text-white text-center py-3" style="min-height: 25vh; margin-top: -25vh;">
		<p>&copy; 2024 . All Rights Reserved.</p>
	</footer>

{% endblock %}
