{# templates/contact.html.twig #}

<div class="row m-0 p-0 justify-content-center {% if darkbg %} bg-dark rounded-5 border border-light {% endif %}">
	<a class="col-auto pt-1" href="#{{ textRef }}">
		<h3 class="text-center text-capitalize mb-4 white-text d-none d-md-block">{{ headText }}</h3>
	</a>
</div>
