{# templates/contact.html.twig #}

<div class="row justify-content-center {% if darkbg %} bg-dark p-3 rounded-5 border border-light {% endif %}">
	<a class="col-1" href="#{{ upRef }}" href="#aboutme" style="left: 1rem; position: absolute;">
		<i class="fa fa-arrow-up" aria-hidden="true"></i>
	</a>
	<a class="col-auto" href="#{{ textRef }}">
		<h2 class="text-center text-capitalize mb-4 white-text">{{ headText }}</h2>
	</a>
</div>
