body {
  overflow-x: hidden;
  width: 100%;
  max-width: 100%;
  background-color: #3B3B3B; /* Dark gray */
}

a,p,h1,h2,h3,h4,h5,h6 {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #FFFFFF;
}


.main-color {
  color: #6F1B6F; 
}
.main-bg {
  background-color: #6F1B6F; ;
}
.dark-main {
  color: #4D114D;
}
.dark-main-bg {
  background-color: #341a3a;
}
.light-main {
  color: #cfa6cb;
}
.light-main-bg {
  background-color: #57a9a1;
}
.accent-color {
  color: #3caa8b;
}


/* Link color */
.a {
  color: #cfa6cb; /* Purple */
}

/* Link hover color */
.a:hover {
  color: #aa843c; /* Darker shade of purple */
}

/* Button styles */
.button {
  color: #FFFFFF; /* White */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Button hover effect */
.button:hover {
  background-color: #e4a3e4; /* Darker shade of purple */
}
