<section id="projects" class="main-bg-dark px-2 rounded-top-5 " style="min-height: 100vh;  margin-top: -4rem;">

	{% include 'index/IndexHeader.twig' with {'upRef': 'timeline', 'textRef': 'projects', 'headText': '🕹️Games Gallery', 'darkbg': true} %}

	<div class="row mx-auto main-bg rounded-5 p-2 align-items-center">
		<div class="col-6 col-md-3 p-3 d-flex justify-content-center">
			<div class="container-fluid rounded-5 d-flex justify-content-center game-item" data-src="https://itch.io/embed-upload/3703497?color=000000">
				<img src="https://img.itch.zone/aW1nLzE1MDEzOTUwLmpwZw==/180x143%23c/zX75lK.jpg" style="height: 100%; width: auto;" alt="Gallery Image 1">
			</div>
		</div>
	</div>
</section>

<!-- Modal Game -->
<div class="modal fade" id="galleryModal" tabindex="-1" aria-labelledby="galleryModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-xl modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="galleryModalLabel">Gallery Image</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body d-flex justify-content-center">
				<iframe id="galleryIframe" frameborder="0" src="" allowfullscreen="true" width="980" height="640"></iframe>
			</div>
		</div>
	</div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var galleryModal = document.getElementById('galleryModal');
        var galleryIframe = document.getElementById('galleryIframe');

        var galleryItems = document.querySelectorAll('.game-item');
        galleryItems.forEach(function (item) {
            item.addEventListener('click', function () {
                var src = this.getAttribute('data-src');
                galleryIframe.src = src;
                var modal = new bootstrap.Modal(galleryModal);
                modal.show();
            });
        });

        galleryModal.addEventListener('hidden.bs.modal', function () {
            galleryIframe.src = ''; // Clear iframe source when modal is closed
        });
    });
</script>
