<!-- Collapsible Navbar -->
<div class="collapse navbar-collapse collapse sticky-top" id="navbarCollapse">
	<nav class="navbar navbar-light bg-light">
		<div class="container-fluid" style="height: 10vh;">
			<div class="d-none d-sm-block col-auto " style="height: 100%;">
				<img src="bannerPanda.png" alt="Other Image" style="height: 100%;">
			</div>

			<a class="navbar-brand col-auto" href="#">
				FoundTexas
			</a>
		</div>
	</nav>
</div>

<button type="button" class="button light-main-bg position-fixed" style="z-index: 1050; top: 10px; left: 7px; height:3rem; width: 3rem;" data-bs-toggle="modal" data-bs-target="#pauseMenuModal">
	<i class="fa-solid fa-pause fa-beat" style="color: #ffffff; "></i>
</button>

<!-- Modal -->
<div class="modal fade" id="pauseMenuModal" tabindex="-1" aria-labelledby="pauseMenuModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content dark-main-bg">
			<div class="modal-header">
				<h2 class="modal-title text-center" id="pauseMenuModalLabel">Pause Menu</h2>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body main-bg">
				<div class="row main-bg">
					<h5 class="col ">
						Toggle NavBar
					</h5>
					<button type="button" class="col-auto btn btn-primary " id="collapseOnButton" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
						ON
					</button>
					<button type="button" class="col-auto btn btn-danger" id="collapseOffButton" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
						Off
					</button>
				</div>
			</div>
			<div class="modal-footer dark-main-bg">
				<button type="button" class="btn btn-danger">Quit</button>
			</div>
		</div>
	</div>
</div>

<script>
	// JavaScript to toggle the collapse state
const collapseOnButton = document.getElementById("collapseOnButton");
const collapseOffButton = document.getElementById("collapseOffButton");

collapseOnButton.addEventListener("click", function () {
document.querySelector(".navbar-collapse").classList.add("show");
collapseOnButton.disabled = true;
collapseOffButton.disabled = false;
});

collapseOffButton.addEventListener("click", function () {
document.querySelector(".navbar-collapse").classList.remove("show");
collapseOnButton.disabled = false;
collapseOffButton.disabled = true;
});

// Initially, start with "On" enabled and "Off" disabled
collapseOnButton.disabled = false;
collapseOffButton.disabled = true;
</script>
