<!-- Collapsible Navbar -->
<div class="collapse navbar-collapse collapse position-fixed" id="navbarCollapse" style="width:100%;">
	<nav class="navbar navbar-dark main-bg">
		<div class="container-fluid" style="height: 10vh;">
			<a class="navbar-brand col-auto" href="#">
				FoundTexas
			</a>
			<div class="d-none d-sm-block col-auto " style="width:100%;">
				<img src="bannerPandaold.png" alt="Other Image">
			</div>
		</div>
	</nav>
</div>

<button type="button" class="custom-btn position-fixed rounded-4 accent-bg " onclick="playSound('audiopress')" style="z-index: 1050; top: 5px; left: 5px; " data-bs-toggle="modal" data-bs-target="#pauseMenuModal">
	<i class="fa fa-pause fa-lg my-2 mx-2" style="color: #ffffff; "></i>
</button>


<!-- Modal -->
<div class="modal fade" id="pauseMenuModal" tabindex="-1" aria-labelledby="pauseMenuModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content accent-bg-dark">
            <div class="modal-header">
                <h2 class="modal-title text-center" id="pauseMenuModalLabel">Pause Menu</h2>
                <button type="button" class="btn-close" onclick="playSound('audioback')" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body main-bg" style="overflow-y: auto; height: 50vh; ">

                <!-- Navigation Buttons -->
                <div class="row main-bg">
                    {% for button in buttons %}
                        <button type="button" class="btn btn-primary col m-1" onclick="navigateToSectionAndCloseModal('{{ button.id }}')" data-bs-dismiss="modal">{{ button.label }}</button>
                    {% endfor %}
                </div>

                <!-- Classic Navbar Toggle -->
                <div class="row main-bg align-items-center">
                    <h5 class="col">Classic Navbar:</h5>
                    <button type="button" class="col-auto btn btn-success" id="collapseOnButton">ON</button>
                    <button type="button" class="col-auto btn btn-danger" id="collapseOffButton">Off</button>
                </div>

                <!-- Volume Slider -->
                <div class="row main-bg align-items-center">
                    <label for="volumeRange" class="form-label col-auto">Volume:</label>
                    <input type="range" class="form-range col" id="volumeRange" min="0" max="1" step="0.01" value="0.25">
                    <span class="col-auto" id="volumeValue">25%</span>
                </div>

            </div>
            <div class="modal-footer text-center dark-main-bg">
                {% if app.user %}
                    <p>You are logged in as {{ app.user.userIdentifier }}</p>
                    <a href="{{ path('app_logout') }}" class="btn btn-danger">Logout</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>


<script>
	// Function to navigate to section and close the modal
function navigateToSectionAndCloseModal(sectionId) { // Check if the section exists
if (sectionId != '') {
var section = document.querySelector(sectionId);
}

if (section) { // Scroll to the section
section.scrollIntoView({behavior: 'smooth'});
} else { // If section is not found, change window href to sectionId
window.location.href = '/' + sectionId;
}

// Close the modal
$('#pauseMenuModal').modal('hide');
}

// JavaScript to toggle the collapse state
const collapseOnButton = document.getElementById("collapseOnButton");
const collapseOffButton = document.getElementById("collapseOffButton");

collapseOnButton.addEventListener("click", function () {
document.querySelector(".navbar-collapse").classList.add("show");
collapseOnButton.disabled = true;
collapseOffButton.disabled = false;
});

collapseOffButton.addEventListener("click", function () {
document.querySelector(".navbar-collapse").classList.remove("show");
collapseOnButton.disabled = false;
collapseOffButton.disabled = true;
});

// Initially, start with "On" enabled and "Off" disabled
collapseOnButton.disabled = false;
collapseOffButton.disabled = true;
</script>
