<!-- Collapsible Navbar -->
<div class="collapse navbar-collapse collapse position-fixed" id="navbarCollapse" style="width:100%;">
	<nav class="navbar navbar-dark main-bg">
		<div class="container-fluid" style="height: 10vh;">
			<a class="navbar-brand col-auto" href="#">
				FoundTexas
			</a>
			<div class="d-none d-sm-block col-auto " style="width:100%;">
				<img src="bannerPanda.png" alt="Other Image">
			</div>
		</div>
	</nav>
</div>

<button type="button" class="custom-btn position-fixed rounded-4 accent-bg " onclick="playSound('audiopress')" style="z-index: 1050; top: 10px; right: 7px; " data-bs-toggle="modal" data-bs-target="#pauseMenuModal">
	<i class="fa fa-pause fa-lg my-3 mx-2" style="color: #ffffff; "></i>
</button>


<!-- Modal -->
<div class="modal fade" id="pauseMenuModal" tabindex="-1" aria-labelledby="pauseMenuModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content accent-bg-dark">
			<div class="modal-header">
				<h2 class="modal-title text-center" id="pauseMenuModalLabel">Pause Menu</h2>

				<div type="button" onclick="playSound('audioback')" data-bs-dismiss="modal">
					<i class="fa fa-times fa-lg" style="color: #ff0000;"></i>
				</div>

			</div>
			<div class="modal-body main-bg">
				<a type="button" href="#aboutme" class="d-block mb-3" data-bs-dismiss="modal">About Me</a>
                <a type="button" href="#projects" class="d-block mb-3" data-bs-dismiss="modal">Projects</a>

				<!-- navbar toggle -->
				<div class="row main-bg">
					<h5 class="col ">
						Clasic NavBar:
					</h5>
					<button type="button" class="col-auto custom-btn btn-primary " id="collapseOnButton" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
						ON
					</button>
					<button type="button" class="col-auto custom-btn btn-danger" id="collapseOffButton" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
						Off
					</button>
				</div>

				<!-- Volume Slider -->
				<div class="row main-bg">
					<label for="volumeRange" class="form-label col-auto">Volume:</label>
					<input type="range" class="form-range col-auto" style="width:100%;" id="volumeRange" min="0" max="1" step="0.01" value="0.25">
				</div>

			</div>
			<div class="modal-footer dark-main-bg"></div>
		</div>
	</div>
</div>

<script>
    // Get the range input element
    var volumeRange = document.getElementById('volumeRange');

	setVolume(volumeRange.value, 'audio-sfx-group');

    // Add event listener for the 'input' event
    volumeRange.addEventListener('input', function() {
        // Call the setVolume function with the current value and the 'audio-sfx-group' parameter
        setVolume(this.value, 'audio-sfx-group');
    });
</script>

<script>

	const buttons = document.getElementsByClassName('custom-btn');

// Loop through all elements with class 'custom-btn' and attach event listener
for (let i = 0; i < buttons.length; i++) {
buttons[i].addEventListener('mouseenter', function () {
playSound('audiobloop');
});
}

// JavaScript to toggle the collapse state
const collapseOnButton = document.getElementById("collapseOnButton");
const collapseOffButton = document.getElementById("collapseOffButton");

collapseOnButton.addEventListener("click", function () {
document.querySelector(".navbar-collapse").classList.add("show");
collapseOnButton.disabled = true;
collapseOffButton.disabled = false;
});

collapseOffButton.addEventListener("click", function () {
document.querySelector(".navbar-collapse").classList.remove("show");
collapseOnButton.disabled = false;
collapseOffButton.disabled = true;
});

// Initially, start with "On" enabled and "Off" disabled
collapseOnButton.disabled = false;
collapseOffButton.disabled = true;
</script>
